<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- jsn_epic_free 5.1.0 -->
<html prefix="og: http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi-vn" lang="vi-vn" dir="ltr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="in card, in name card, in card visit, in danh thiep, in danh thiếp" />
    <meta name="author" content="Super User" />
    <meta name="description" content="in card, in name card, in card visit, in danh thiep, in danh thiếp" />
    <title>Danh thiếp - Mạc áo - Thẻ treo</title>
    <link href="/templates/jsn_epic_free/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link href="~/Content/k2/css/k2.css" rel="stylesheet" />
    <link href="~/Content/system/css/modal.css" rel="stylesheet" />
    <link href="~/Content/k2store/css/k2store.css" rel="stylesheet" />
    <link href="~/Content/k2store/css/k2store_no_bootstrap.css" rel="stylesheet" />
    <link href="~/Content/system/css/system.css" rel="stylesheet" />
    <link href="~/Content/css/general.css" rel="stylesheet" />
    <link href="~/Content/css/template.css" rel="stylesheet" />
    <link href="~/Content/css/blue.css" rel="stylesheet" />
    <link href="~/Content/css/personal.css" rel="stylesheet" />
    <link href="~/Content/css/jsn_css3.css" rel="stylesheet" />
    <link href="~/Content/css/jsn_ext_k2.css" rel="stylesheet" />
    <link href="~/Content/visit_counter/mvc.css" rel="stylesheet" />
    <link href="~/Content/djimageslider/style.css" rel="stylesheet" />
    <link href="~/Content/jsnimageshow/css/style.css" rel="stylesheet" />
    <link href="~/Content/jsnimageshow/js/themes/classic/galleria.classic.css" rel="stylesheet" />
    <link href="~/Content/pwebfblikebox/css/likebox.css" rel="stylesheet" />
    <link href="~/Content/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-1.11.3.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Content/bxslider/jquery.bxslider.js"></script>
    <script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#slider145").bxSlider({
                auto: true,
                infiniteLoop: true,
                hidePrevNext: true,
                mode: "vertical",
                autoStart: true,
                minSlides: 4,
                maxSlides: 4
            });
        });
    </script>
@*    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
</head>
<body id="jsn-master" class="jsn-textstyle-personal jsn-textsize-medium jsn-color-blue jsn-direction-ltr jsn-specialfont jsn-css3 jsn-desktop  jsn-joomla-25 jsn-com-content jsn-view-article">

    <a name="top" id="top"></a>
    <div id="jsn-page">
        <div id="jsn-pos-stick-leftmiddle">
            <div class=" jsn-modulecontainer">
                <div class="jsn-modulecontainer_inner">
                    <div class="jsn-modulecontent">
                        <!-- PWebFBLikeBox -->
                        <div id="pwebfblikebox143" class="pwebfblikebox pwebfblikebox-right pwebfblikebox-radius pwebfblikebox-shadow slidebox ">
                            <div class="pwebfblikebox_tab facebook-white"></div>
                            <div class="pwebfblikebox_container" style="width: 176px;">
                                <div id="fb-root"></div>
                                <div class="fb-like-box" id="pwebfblikebox143_html5" data-href="https://www.facebook.com/pages/incucrecom/937227382978006?ref=ts&amp" data-stream="false" data-header="false" data-width="176" data-height="240" data-show-border="false"></div>
                            </div>
                        </div>

                        <!-- PWebFBLikeBox end -->
                        <div class="clearbreak"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="jsn-pos-stick-leftbottom">
            <div class=" jsn-modulecontainer">
                <div class="jsn-modulecontainer_inner">
                    <div class="jsn-modulecontent">
                        <div>
                            <p>
                                <img src="/images/support-online.jpg" width="1172" height="60" alt="support-online" /></p>
                        </div>
                        <div class="clearbreak"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="jsn-header">
            <div id="jsn-logo">
                <h1 class="jsn-topheading">Dấu Chân Việt - </h1>
                <a href="http://incucre.com/" title="">
                    <img src="/images/logo_icr.png" alt="" id="jsn-logo-desktop" /></a>
            </div>
            <div id="jsn-headerright">
            </div>
            <div class="clearbreak"></div>
            <div id="jsn-menu">
                <div class="clearbreak"></div>
            </div>
        </div>
        <div id="jsn-body">

            <div id="jsn-content" class="jsn-hasleft ">
                <div id="jsn-content_inner">
                    <div id="jsn-content_inner1">
                        <div id="jsn-content_inner2">
                            <div id="jsn-content_inner3">
                                <div id="jsn-content_inner4">
                                    <div id="jsn-content_inner5">
                                        <div id="jsn-content_inner6">
                                            <div id="jsn-content_inner7">
                                                <div id="jsn-maincontent">
                                                    <div id="jsn-centercol">
                                                        <div id="jsn-centercol_inner">
                                                            <div id="jsn-mainbody-content" class=" jsn-hasmainbodytop jsn-hasmainbody">
                                                                <div id="jsn-pos-mainbody-top" class="jsn-modulescontainer jsn-horizontallayout jsn-modulescontainer3">
                                                                    <div class=" jsn-modulecontainer">
                                                                        <div class="jsn-modulecontainer_inner">
                                                                            <div>
                                                                                <div>
                                                                                    <div class="jsn-modulecontent">
                                                                                        <span class="jsn-menu-toggle">Menu</span>
                                                                                        <ul class="menu-mainmenu">
                                                                                            <li class="first"><a  href="@Url.Action("GetPageByCode","Home",new{Code="Introduction"})" >
                                                                                                <span>Giới thiệu	</span>
                                                                                            </a>
                                                                                            <li class="last"><a href="/gia-cong-can-man.html">
                                                                                                <span>Gia công cán màng	</span>
                                                                                            </a></li>
                                                                                        </ul>
                                                                                        <div class="clearbreak"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class=" banner_new jsn-modulecontainer">
                                                                        <div class="jsn-modulecontainer_inner">
                                                                            <div>
                                                                                <div>
                                                                                    <div class="jsn-modulecontent">
                                                                                        <!-- JSN IMAGESHOW FREE 4.8.7 - Theme Classic 1.3.3 -->
                                                                                        <div class="jsn-container">
                                                                                            <div class="jsn-gallery">
                                                                                                <div style="max-width: 100%; margin: 0 auto;">
                                                                                                    <div id="jsn-themeclassic-jsgallery-BEtHx">
                                                                                                        <div id="banner-slider" class="carousel slide" data-interval="2000" data-ride="carousel">
                                                                                                            <div class="carousel-inner" role="listbox">
                                                                                                               @{Html.RenderAction("GetBannersView","Banner");}
                                                                                                               
                                                                                                            </div>
                                                                                                            
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="clearbreak"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class=" chuchay jsn-modulecontainer">
                                                                        <div class="jsn-modulecontainer_inner">
                                                                            <div>
                                                                                <div>
                                                                                    <div class="jsn-modulecontent">
                                                                                        <div>

                                                                                            <p>
                                                                                                <marquee align="center" direction="left" height="20" scrollamount="4" width="100%" style="height: 20px; width: 100%;"> Nếu bạn là công ty quảng cáo, dịch vụ in ấn, vui lòng thông báo cho chúng tôi biết để có những ưu đãi đặc biệt! </marquee>
                                                                                            </p>
                                                                                        </div>
                                                                                        <div class="clearbreak"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearbreak"></div>
                                                                </div>
                                                                <div id="jsn-mainbody">

                                                                    <div id="system-message-container">
                                                                    </div>
                                                                    <div class="com-content ">
                                                                        <div class="article">







                                                                            <div class="jsn-article-content">
                                                                                @RenderBody()
                                                                            </div>
                                                                            <div class="clearbreak"></div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearbreak"></div>
                                                </div>
                                                <div id="jsn-leftsidecontent">
                                                    <div id="jsn-leftsidecontent_inner">
                                                        <div id="jsn-pos-left">
                                                            <div class=" logo_fh jsn-modulecontainer">
                                                                <div class="jsn-modulecontainer_inner">
                                                                    <div>
                                                                        <div>
                                                                            <div class="jsn-modulecontent">
                                                                                <div>
                                                                                    <p><a href="@Url.Action("Index","Home")">
                                                                                        <img src="@Url.Content(Html.Action("GetConfigByCode", "Home", new { code = "Logo" }).ToString())" alt="logoall" width="250" height="100" /></a></p>
                                                                                </div>
                                                                                <div class="clearbreak"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class=" danhmuc_icr jsn-modulecontainer">
                                                                <div class="jsn-modulecontainer_inner">
                                                                    <div>
                                                                        <div>
                                                                            <div class="jsn-modulecontent">

                                                                            @{Html.RenderAction("GetCategories", "Category");}
                                                    <div class="clearbreak"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class=" hotro_icr jsn-modulecontainer">
                                                                <div class="jsn-modulecontainer_inner">
                                                                    <div>
                                                                        <div>
                                                                            <div class="jsn-modulecontent">
                                                                                <div>
                                                                                    <p style="width: 300px;">
                                                                                        <img src="@Url.Content("~/images/contact.png")" border="0" alt="supportonline" width="116" height="44" />
                                                                                        <strong><em><span style="font-size: 11pt; color: #ffff00;">Liên hệ báo giá</span></em></strong></p>
                                                                                    <table style="border-collapse: collapse; border-spacing: 0px; font-size: 12px; line-height: 15.600000381469727px; text-align: left;" border="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="width: 245px !important;">
                                                                                                    <p style="margin-top: 0px; margin-bottom: 0px; padding: 5px; line-height: 1.8; text-align: justify;"><strong>Địa Chỉ:</strong> 445/14 Lạc Long Quân, Phường 5, Quận 11, TP.Hồ Chí Minh</p>
                                                                                                </td>
                                                                                               
                                                                                            </tr>
                                                                                            <tr>
                                                                                              <td style="width: 245px !important;">
                                                                                                    <p style="margin-top: 0px; margin-bottom: 0px; padding: 5px; line-height: 1.8; text-align: justify;"><strong>Số Điện Thoại:</strong> Mrs.Linh - 090 9 906 903</p>
                                                                                                </td>
                                                                                            </tr>
                                                                                          
                                                                                        </tbody>
                                                                                    </table>
                                                                                    
                                                                                </div>
                                                                                <div class="clearbreak"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class=" noidung_icr jsn-modulecontainer">
                                                                <div class="jsn-modulecontainer_inner">
                                                                    <div>
                                                                        <div>
                                                                            <div class="jsn-modulecontent">
                                                                                <div id="k2ModuleBox131" class="k2ItemsBlock  noidung_icr">


                                                                                    <ul>
                                                                                        <li class="even">

                                                                                            <!-- Plugins: BeforeDisplay -->

                                                                                            <!-- K2 Plugins: K2BeforeDisplay -->


                                                                                            <a class="moduleItemTitle" href="@Url.Action("GetPageByCode","Home",new{Code="Contact"})">Liên hệ</a>


                                                                                            <!-- Plugins: AfterDisplayTitle -->

                                                                                            <!-- K2 Plugins: K2AfterDisplayTitle -->

                                                                                            <!-- Plugins: BeforeDisplayContent -->

                                                                                            <!-- K2 Plugins: K2BeforeDisplayContent -->



                                                                                            <div class="clr"></div>


                                                                                            <div class="clr"></div>

                                                                                            <!-- Plugins: AfterDisplayContent -->

                                                                                            <!-- K2 Plugins: K2AfterDisplayContent -->








                                                                                            <!-- Plugins: AfterDisplay -->

                                                                                            <!-- K2 Plugins: K2AfterDisplay -->

                                                                                            <div class="clr"></div>
                                                                                        </li>
                                                                                        @*<li class="odd">

                                                                                            <!-- Plugins: BeforeDisplay -->

                                                                                            <!-- K2 Plugins: K2BeforeDisplay -->


                                                                                            <a class="moduleItemTitle" href="/noi-dung/thong-tin-chuyen-khoan.html">Thông tin chuyển khoản</a>


                                                                                            <!-- Plugins: AfterDisplayTitle -->

                                                                                            <!-- K2 Plugins: K2AfterDisplayTitle -->

                                                                                            <!-- Plugins: BeforeDisplayContent -->

                                                                                            <!-- K2 Plugins: K2BeforeDisplayContent -->



                                                                                            <div class="clr"></div>


                                                                                            <div class="clr"></div>

                                                                                            <!-- Plugins: AfterDisplayContent -->

                                                                                            <!-- K2 Plugins: K2AfterDisplayContent -->








                                                                                            <!-- Plugins: AfterDisplay -->

                                                                                            <!-- K2 Plugins: K2AfterDisplay -->

                                                                                            <div class="clr"></div>
                                                                                        </li>*@
                                                                                        <li class="even lastItem">

                                                                                            <!-- Plugins: BeforeDisplay -->

                                                                                            <!-- K2 Plugins: K2BeforeDisplay -->


                                                                                            <a class="moduleItemTitle" href="@Url.Action("GetPageByCode","Home",new{Code="Process"})">Quy trình đặt hàng</a>


                                                                                            <!-- Plugins: AfterDisplayTitle -->

                                                                                            <!-- K2 Plugins: K2AfterDisplayTitle -->

                                                                                            <!-- Plugins: BeforeDisplayContent -->

                                                                                            <!-- K2 Plugins: K2BeforeDisplayContent -->



                                                                                            <div class="clr"></div>


                                                                                            <div class="clr"></div>

                                                                                            <!-- Plugins: AfterDisplayContent -->

                                                                                            <!-- K2 Plugins: K2AfterDisplayContent -->








                                                                                            <!-- Plugins: AfterDisplay -->

                                                                                            <!-- K2 Plugins: K2AfterDisplay -->

                                                                                            <div class="clr"></div>
                                                                                        </li>
                                                                                        <li class="clearList"></li>
                                                                                    </ul>



                                                                                </div>
                                                                                <div class="clearbreak"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                           
                                                         
                                                            <div class="khach-hang jsn-modulecontainer">
                                                                <div class="jsn-modulecontainer_inner">
                                                                    <div>
                                                                        <div>
                                                                            <h3 class="jsn-moduletitle"><span class="jsn-moduleicon">Khách hàng thân thiết</span></h3>
                                                                            <div class="jsn-modulecontent">
                                                                                <div style="border: 0px !important;">
                                                                                    <div id="djslider145" class="djslider">
                                                                                        <div id="slider-container145" class="slider-container">
                                                                                            <ul id="slider145">
                                                                                                <li>
                                                                                                    <img src="/images/khachhang/03-thiet-ke-logo-cong-ty-dep-tai-ha-noi.jpg" alt="03-thiet-ke-logo-cong-ty-dep-tai-ha-noi.jpg" />


                                                                                                </li>
                                                                                                <li>
                                                                                                    <img src="/images/khachhang/67.gif" alt="67.gif" />


                                                                                                </li>
                                                                                                <li>
                                                                                                    <img src="/images/khachhang/255082_orig.jpg" alt="255082_orig.jpg" />


                                                                                                </li>
                                                                                                <li>
                                                                                                    <img src="/images/khachhang/301211 Unilever logo.jpg" alt="301211 Unilever logo.jpg" />


                                                                                                </li>
                                                                                                <li>
                                                                                                    <img src="/images/khachhang/1337402899_55d935ed.jpg" alt="1337402899_55d935ed.jpg" />


                                                                                                </li>
                                                                                                <li>
                                                                                                    <img src="/images/khachhang/1385972372_logo_lon-1.jpg" alt="1385972372_logo_lon-1.jpg" />


                                                                                                </li>
                                                                                                <li>
                                                                                                    <img src="/images/khachhang/77820101104230930logofptcolor.jpg" alt="77820101104230930logofptcolor.jpg" />


                                                                                                </li>
                                                                                                <li>
                                                                                                    <img src="/images/khachhang/bds-dong-nam-a0_1257332102.jpg" alt="bds-dong-nam-a0_1257332102.jpg" />


                                                                                                </li>



                                                                                                <li>
                                                                                                    <img src="/images/khachhang/logo-kinh-do.jpg" alt="logo-kinh-do.jpg" />


                                                                                                </li>
                                                                                                <li>
                                                                                                    <img src="/images/khachhang/logo-TARIC(10).png" alt="logo-TARIC(10).png" />


                                                                                                </li>
                                                                                                <li>
                                                                                                    <img src="/images/khachhang/logo-va-slogan-xuc-tien-du-lich-viet-nam-o-trong-nuoc.jpg" alt="logo-va-slogan-xuc-tien-du-lich-viet-nam-o-trong-nuoc.jpg" />


                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div style="clear: both"></div>
                                                                            <div class="clearbreak"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearbreak"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="jsn-content-bottom">
            <div id="jsn-pos-content-bottom" class="jsn-modulescontainer jsn-horizontallayout jsn-modulescontainer1">
                <div class=" add_footer jsn-modulecontainer">
                    <div class="jsn-modulecontainer_inner">
                        <div>
                            <div>
                                <div class="jsn-modulecontent">
                                    <div>
                                        <p style="text-align: center;">
                                            <span style="color: #444444;"><strong><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Cty TNHH in & sản xuất bao bì Thành Tiến - 445/14 Lạc Long Quân, Phường 15, QUẬN 11, TPHCM - ĐT: (08) 6264-2069 - Email: ttinbaobi@gmail.com
                                            </span></strong></span>
                                            <br />
                                            <span style="color: #444444;"><strong><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">© 2005 - 2016 thanhtien.com, All rights reserved </span></strong></span>
                                        </p>
                                    </div>
                                    <div class="clearbreak"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearbreak"></div>
            </div>
        </div>
    </div>
  <div id="jsn-copyright">
  </div>
    <a id="jsn-gotoplink" href="/#top">
        <span>TOP</span>
    </a>



    @RenderSection("scripts", required: false)

</body>
</html>
